{% block content %}
  <h2>Service Request Tracking</h2>
  <table class="table table-dark text-light">
    <thead>
      <tr>
        <th>Service Request</th>
        <th>Status</th>
        <th>Date Submitted</th>
        {% if is_customer_representative %}
          <th>Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for service_request in service_requests %}
        <tr>
          <td>{{ service_request }}</td>
          <td>{{ service_request.status }}</td>
          <td>{{ service_request.submission_timestamp }}</td>
          {% if is_customer_representative %}
            <td>
              <a href="{% url 'update_request' service_request.pk %}">Update</a>
              <a href="#">Delete</a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}